.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: calc(100vh - 72px) !important;
}

.search-bar-container {
  padding: 20px;
  background-color: white;
}

.content {
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 120%;
  overflow-y: auto;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.books {
  padding: 20px;
  overflow-y: auto;
  width: 1000vh;
}

.add-button {
  margin: 0px 24px 32px 0px !important;
  padding: 12px !important;
  font-size: 16px !important;
  float: right;
}

.option {
  margin-bottom: 12px !important;
}

.search-bar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.book-grid {
  gap: 20px;
  justify-content: space-evenly;
}

.book-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.book-block:hover {
  transform: scale(1.05);
}

.book-name {
  text-align: center;
  font-family: "Georgia" !important;
  font-size: 24px !important;
}
