.library-info-grid {
  margin-top: 20px;
}

.info-label {
  font-weight: bold;
}

.info-value {
  text-align: left;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.info-field {
  display: flex;
  margin-bottom: 8px;
}

.info-field .MuiTypography-subtitle1 {
  font-weight: bold;
  margin-right: 8px;
}

.get-pdf-button {
  margin: 24px !important;
  width: 95%;
}

.library-logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.date-text {
  text-align: right;
  margin-top: 16px !important;
}
